<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RateMyCourse</title>
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    <br>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
