<article>
  <header>
    <h2>Add New Course</h2>
  </header>
  {{#if error}}
    <br>
    <div id="course-error" class="error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Error: {{error}}
    </div>
  {{/if}}
  <br>
  <form onsubmit="return courseValidate(this);" id="course-form" action="/course" method="post">
    <table class="course">
      <tr>
        <td><label for="courseName">Course Name:</label></td>
        <td><input type="text" name="courseName" id="courseName"></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="courseCode">Course Code:</label></td>
        <td><input type="courseCode" name="courseCode" id="courseCode"></td>
        <td><button type="submit" form="course-form" value="Submit">Submit</button></td>
      </tr>
    </table>
  </form>
</article>
