<br>
<table class="user-info">
  <tr>
    <th>{{user.username}}</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
  </tr>
</table>
<br>
<form action="/logout">
  <input type="submit" value="Logout" />
</form>
