<article>
  <header>
    <h2>Register</h2>
  </header>
  {{#if error}}
    <br>
    <div id="register-error" class="error">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Error: {{error}}
    </div>
  {{/if}}
  <br>
  <form onsubmit="return registerValidate(this);" id="register-form" action="/register" method="post">
    <table class="register">
      <tr>
        <td><label for="firstName">First Name:</label></td>
        <td><input type="text" name="firstName" id="firstName"></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="lastName">Last Name:</label></td>
        <td><input type="text" name="lastName" id="lastName"></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="username">Username:</label></td>
        <td><input type="text" name="username" id="username"></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" name="password" id="password"></td>
        <td></td>
      </tr>
      <tr>
        <td><label for="passwordConfirm">Password Confirm:</label></td>
        <td><input type="password" name="passwordConfirm" id="passwordConfirm"></td>
        <td><button type="submit" form="register-form" value="Submit">Submit</button></td>
      </tr>
    </table>
  </form>
</article>
