<article>
  <br>
  <header>
    <h3 class="center-align">Register</h3>
  </header>
  {{#if error}}
    <script>
        $(document).ready(function(){
           M.toast({html: '{{error}}'})
        });
    </script>
  {{/if}}
  <br>
 <div class="row valign-wrapper center-align">
  <form class="col s8" onsubmit="return registerValidate(this);" id="register-form" action="/register" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="firstName" id="firstName">
        <label for="firstName">First Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="lastName" id="lastName">
        <label for="lastName">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="username" id="username">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="password" name="password" id="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="password" name="passwordConfirm" id="passwordConfirm">
        <label for="passwordConfirm">Password Confirm</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light orange darken-3" form="register-form" type="submit" name="action" value="Submit">Submit</button>
  </form>
 </div>
 <div class="row valign-wrapper center-align">
  <div class="row">
    <button class="btn waves-effect waves-light orange darken-4" onclick="location.href='/';">Login</button>
  </div>
 </div>
</article>
