body {
	background: #EEEEEE;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin: auto;
}

main {
	max-width: 40%;
	margin: auto;
}

header {
	max-width: 80%;
	margin: auto;
	border-bottom: 1px dotted grey;
}

h1, h2, h3, h4, h5, h6 {
	color: #232323;
	margin-bottom: 5px;
}

h1 {
	font-size: 24pt;
}

p {
	font-size: 12pt;
	line-height: 2;
}

form {
	-webkit-box-align:center;
	-webkit-box-pack:center;
	display:-webkit-box;
	font-size: 14pt;
}

footer {
	max-width: 80%;
	margin: auto;
}

.user-info {
	border: 0px;
}

.user-info th:nth-child(1) {
	font-size: 24pt;
	text-align: left;
}

.error {
	border-radius: 5px;
	padding: 10px;
	background-color: #d14b4b;
	color: white;
	margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
